<div class="row" id="{{ domId }}">
    <div class="col bg-light mx-1 px-1 my-1 py-1">
        <ul class="mb-1">
            <li><a href="{{ forumLink }}">{{ forumName }}</a></li>
        </ul>
    </div>
</div>